.borders {
    border: 5px solid #1A74E2;
    display: inline-block;
    margin: 25px auto;
    padding: 25px;
    position: relative;
    width: auto;
}



.icons:hover {
    animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
    0% {
        transform: translate(0, 0px);
    }

    50% {
        transform: translate(0, 15px);
    }

    100% {
        transform: translate(0, -0px);
    }
}